In [6]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [7]:
data=pd.read_csv('NBA_Stats_1950_2021_raw.csv')

In [8]:
data.head()

,Year,Player,Team,GP,MIN,FGM,FGA,3PM,3PA,FTM,FTA,TOV,PF,ORB,DRB,REB,AST,STL,BLK,PTS
0,1950,Curly Armstrong,FTW,63.0,NaN,144.0,516.0,NaN,NaN,170.0,241.0,NaN,217.0,NaN,NaN,NaN,176.0,NaN,NaN,458.0
1,1950,Cliff Barker,INO,49.0,NaN,102.0,274.0,NaN,NaN,75.0,106.0,NaN,99.0,NaN,NaN,NaN,109.0,NaN,NaN,279.0
2,1950,Leo Barnhorst,CHS,67.0,NaN,174.0,499.0,NaN,NaN,90.0,129.0,NaN,192.0,NaN,NaN,NaN,140.0,NaN,NaN,438.0
3,1950,Ed Bartels,TOT,15.0,NaN,22.0,86.0,NaN,NaN,19.0,34.0,NaN,29.0,NaN,NaN,NaN,20.0,NaN,NaN,63.0
4,1950,Ed Bartels,DNN,13.0,NaN,21.0,82.0,NaN,NaN,17.0,31.0,NaN,27.0,NaN,NaN,NaN,20.0,NaN,NaN,59.0

In [1]:
#client requested age(year), city(team), total minutes played(MIN), and games played(GP)
#I also need a metric to measure
#I can calculate a performance index with (PTS+REB+AST+STL+BLK)-(PF+(FTA-FTM)+(3PA-3PM))
#I truncated this from the performance calculation on Wikipedia's Basketball Statistics page: https://en.wikipedia.org/wiki/Basketball_statistics#:~:text=REB%2C%20OREB%2C%20DREB%3A%20rebounds,TO%3A%20turnovers

In [10]:
data.shape

(26176, 20)

In [11]:
data.dtypes

Year        int64
Player     object
Team       object
GP        float64
MIN       float64
FGM       float64
FGA       float64
3PM       float64
3PA       float64
FTM       float64
FTA       float64
TOV       float64
PF        float64
ORB       float64
DRB       float64
REB       float64
AST       float64
STL       float64
BLK       float64
PTS       float64
dtype: object